@import '../theme.less';
.container {
  width: 100%;
  height: 100%;
  padding: 60px 0px;
  overflow-y: scroll;
  .title {
    margin-top: 0px;
    margin-bottom: 32px;
    width: 100%;
    height: 72px; // background-color: #efefef;
    background-image: url('../../resources/image/slider-portfolio-3b.jpg');
    background-size: cover;
    background-position-y: 506px;
    padding: 0px 80px;
    text-align: right;
    font-size: 32px;
    font-family: 'AbrilFatface';
    line-height: 72px;
    letter-spacing: 4px;
  }
  .imgContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .right {
      width: 50%;
    }
  }
}